<!-- Second (About) section -->
<section class="section" id="head">
    <div class="container">
        <h2 class="text-center title">{{ 'aboutus.title' | translate }}</h2>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">    
                <h5><strong>{{ 'aboutus.question1' | translate }}<br></strong></h5>
                <p>
                    {{ 'aboutus.answer1' | translate }}
                </p>    
            </div>
            <div class="col-sm-4">
                <h5><strong>{{ 'aboutus.question2' | translate }}<br></strong></h5>    
                <p>
                    {{ 'aboutus.answer2' | translate }}
                </p>    
                <h5><strong>{{ 'aboutus.findus' | translate }}<br></strong></h5>    
                <p>
                    <a href="https://twitter.com/TMDT_EXP">Twitter</a> / 
                    <a href="https://www.facebook.com/themilliondollartalk">Facebook</a>
                </p>
            </div>
        </div>
    </div>
</section>
