<div ng-app="myApp" id="store" class="content span12" style="overflow: hidden;" ng-controller="newsController">
    <br/>
    #TheMillionDollarTalk project was born from a simple challenge between two friends, Edouard and John, who decided
    to let people around the world share their sexual experience, winning or frustrating, in real time and anonymously.
    <br/><br/>
    Sharing a personal sexual experience online is called a <b>Million Dollar Talk</b>, and is absolutely free.
    <br/><br/>
    It is strictly forbidden to harm the dignity of others, this is why messages are not saved and have a 60 seconds lifetime.
    <br/><br/>
</div>
