<!-- Second (About) section -->
<section class="section" id="about">
    <div class="container" ng-controller="aboutController">
        <h2 class="text-center title">About us</h2>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">    
                <h5><strong>What is The Million Dollar Talk?<br></strong></h5>
                <p>
                    Born to make magic and immortal, your one night-stands and hookups, you, better than anybody else deserve the best.
                    If you have experienced any casual sex relation with a particular profession like dentist, fireman, plomber, or simply a colleague, listen to a relaxing music, read other anonymous stories, imaginate a link to follow the story, and share us your own real experience in every detail.
                    We promise to collect all of your stories in real time and publish a monthly free e-book about it, that will immortalize your experience forever.
                </p>    
            </div>
            <div class="col-sm-4">
                <h5><strong>Who is behind The Million Dollar Talk?<br></strong></h5>    
                <p>
                    Two friends near Paris, Edouard and John. It was first a stupid bet about how to make one million dollar by letting people write simple messages to someone they love.
                    We quickly realize that changing ordinary sex experiences to beautiful romance and share them with the world, is the best virtual million dollar we could make while contributing for more love in the planet.
                </p>    
                <h5><strong>Find us on social networks<br></strong></h5>    
                <p>
                    <a href="https://twitter.com/TMDT_EXP">Twitter</a> / 
                    <a href="https://www.facebook.com/themilliondollartalk">Facebook</a>
                </p>
            </div>
        </div>
    </div>
</section>
