<div ng-app="myApp" id="store" class="content span12" style="overflow: hidden;" ng-controller="newsController">
    <br/>
    <div class='padding15'>
        TMDT project was born from a simple challenge between two friends, Edouard and John.<br/>
        Edouard had a stupid idea: "if we let anybody send a short and ephemeral message that anyone in the world could see at the same time, we could make one million dollar and call each message, a million dollar message (MDM)".<br/>
        Three days later, the website was online.<br/>
        <br/><br/>
        <b>What is the concept?</b><br/>
        You write <b>for free</b> a short MDM (million dollar message) including links.<br/>
        Your MDM will be available for 60 seconds on the homepage, depending on other messages on the queue.<br/>
        Only three messages are displayed on the homepage at the same time.
        <br/><br/>
        <b>What to share?</b><br/>
        You can share humoristic messages, love messages, job offers, anything creative and positive. 
    </div>
</div>
