<!-- Third (Works) section -->
<section class="section" id="head">
    <div class="container">
        <h2 class="text-center title">{{ 'crowdwriting.title' | translate }}</h2>
        <p class="lead text-center">
            {{ 'crowdwriting.message' | translate }}<br/>
            {{ 'crowdwriting.message1' | translate }}<br/>            
            {{ 'crowdwriting.message2' | translate }}<br/>
            {{ 'crowdwriting.message3' | translate }}<br/>            
        </p>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <br/>
                <form ng-submit="processForm()">
                    <textarea id='mdm' name="mdm" msd-elastic="\n" ng-model="formData.mdm" class='mdmText' placeholder="{{ 'crowdwriting.write' | translate }}"></textarea><br/>
                    <input type='submit' class='btn btn-danger' ng-disabled="formData.thisForm" value="{{ 'crowdwriting.contribute' | translate }}"><br/>
                    <div id="result" name="result" ng-model="formData.resultStatus" ng-class="{true:'formSuccess', false:'formError'}[formData.resultStatus]">{{ result }}</div>
                </form>
                <form class="form-search"> 
                    <div class="clear"></div>
                    <div id="cbp-vm" class="cbp-vm-switcher" ng-class="{true: '', false: 'activegrid'}[isActive]">
                        <ul class="messages" scroller='' data-loading-method="loadMore()">
                            <li ng-repeat="item in items">
                                {{item.message}}<br/>
                                <div class="clear"></div>
                                <!-- <p class="title">Views: {{news.id}}</p> -->
                                <div class="clear"></div>
                            </li>
                        </ul>                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>