<section class="section" id="head">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	
                <!-- Site Title, your name, HELLO msg, etc. -->
                <h1 class="title">{{ 'home.title' | translate }}</h1>
                <h2 class="subtitle">{{ 'home.subTitle' | translate }}</h2>
                <!-- Short introductory (optional) -->
                <h3 class="tagline">
                    {{ 'home.tagLine' | translate }}
                </h3>
                <!-- Nice place to describe your site in a sentence or two -->
                <p><a href="#!crowdwriting" class="btn btn-danger btn-lg">{{ 'home.contributeLink' | translate }}</a></p>
            </div> <!-- /col -->
        </div> <!-- /row -->
    </div>
</section>
