<div ng-app="myApp" id="store" class="content span12" style="overflow: hidden;" ng-controller="newsController">
    <br/>
    <form ng-submit="processForm()">
        <textarea id='mdm' name="mdm" ng-model="formData.mdm" class='mdmText' placeholder='Share anonymously your last sex memory with hashtags.'></textarea><br/>
        <input type='submit' class='btn btn-danger' ng-disabled="formData.thisForm" value='Post my free million dollar talk NOW'>
        <span id="result" name="result" ng-model="formData.resultStatus" ng-class="{true:'formSuccess', false:'formError'}[formData.resultStatus]">{{ result }}</span>
    </form>
    <form class="form-search"> 
        <div class="clear"></div>
        <div id="cbp-vm" class="cbp-vm-switcher" ng-class="{true: '', false: 'activegrid'}[isActive]">
            <ul id="product" class="nav-pills nav-stacked rectangle-list">
                <li ng-repeat="news in data">
                    {{news.message}}<br/>
                    <div class="clear"></div>
                    <div class="clear"></div>
                    <p class="title">Views: {{news.views}}</p>
                    <div class="clear"></div>
              </li> 
            </ul>
        </div>
    </form>
</div>
