<div ng-app="myApp" id="store" class="content span12" style="overflow: hidden;" ng-controller="newsController">
    <br/>
    <form class="form-search"> 
        <div class="clear"></div>
        <div id="cbp-vm" class="cbp-vm-switcher" ng-class="{true: '', false: 'activegrid'}[isActive]">
            <ul id="product" class="nav-pills nav-stacked rectangle-list">
                <li ng-animate="'animate'" ng-repeat="news in data">
                    <a href="{{ news.url }}" target="_blank" class="title"> {{news.message}}  </a><br/>
                    <div class="clear"></div>
                    <p ng-show="news.picture.length > 0" class='picture'>
                        <a href="{{ news.picture}}" target="_blank"><img src="{{ news.picture}}" width='80'></a>
                    </p>
                    <div class="clear"></div>
                    <p class="title"> <b>@{{news.username}}</b> - Views: {{news.views}}</p>
                    <div class="clear"></div>
                    <a class="number" href="#"> {{news.id}} </a>
                    <div class="clear"></div>
              </li> 
            </ul>
        </div>
    </form>
</div>
