<div id="prod-top" class="prod-top-img span12">
 <div class="cart-txt-shop">
   <img src="images/exclamation-point.jpg" alt="ExclamationMark" /> <p class="text-info">
        Thanks for shopping at <b>The Million Dollar Talk</b> store.<br />
        This is your shopping cart. After your payment, you will be redirected to a page where you can write your special message anonymously.<br/> 
        Your message will be shown for 60 seconds in our home page, depending of other messages queue, and will disappear forever.<br/>
        Make sure to inform people around you to visit <b>http://www.themilliondollartalk.com</b>, to see your message in time.<br/><br/>
        While other people in the world are waiting for a special message, they will see your message, this is how your message will be shared with the world.
  </div>
</div>

<div class="container-fluid">
    <div class="row-fluid content-backcolor">
        <div class="span8">

            <!-- items -->
            <table class="table table-bordered tab-shop">

                <!-- header -->
                <tr class="well">
                    <td><b>Item</b></td>
                    <td class="tdRight"><b>Price</b></td>
                    <td />
                </tr>

                <!-- empty cart message -->
                <tr ng-hide="cart.getTotalCount() > 0" >
                    <td class="tdCenter" colspan="4">
                        Your cart is empty.
                    </td>
                </tr>

                <!-- cart items -->
                <tr ng-repeat="item in cart.items | orderBy:'name'">
                    <td>{{item.name}}</td>
                    <td class="tdRight">{{item.price * item.quantity | currency}}</td>
                    <td class="tdCenter" title="remove from cart">
                        <a href="" ng-click="cart.addItem(item.code, item.name, item.price, -10000000)" >
                            <i class="icon-remove" />
                        </a>
                    </td>
                </tr>

                <!-- footer -->
                <tr class="well">
                    <td><b>Total</b></td>
                    <td class="tdCenter"><b>{{cart.getTotalCount()}}</b></td>
                    <td class="tdRight"><b>{{cart.getTotalPrice() | currency}}</b></td>
                    <td />
                </tr>
            </table>
        </div>

        <!-- buttons -->
        <div class="span4">
            <p class="text-info">
                <button 
                    class="btn btn-block" 
                    onclick="window.location.href='index.html'">
                    <i class="icon-chevron-left" /> back to store
                </button>
                <button 
                    class="btn btn-block btn-danger" 
                    ng-click="cart.clearItems()" 
                    ng-disabled="cart.getTotalCount() < 1" >
                    <i class="icon-trash icon-white" /> clear cart
                </button>
            </p>

            <p class="text-info">
                <button
                    class="btn btn-block btn-primary"
                    ng-click="cart.checkout('PayPal')"
                    ng-disabled="cart.getTotalCount() < 1">
                    <i class="icon-ok icon-white" /> check out using PayPal
                </button>
                
            </p>

            <br /><br />

            <p class="text-info">
                <button 
                    class="btn btn-block btn-link"
                    ng-click="cart.checkout('PayPal')"
                    ng-disabled="cart.getTotalCount() < 1" >
                    <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" alt="checkout PayPal"/>
                </button>     
                  
            </p>
        </div>
    </div>
</div>
