body {
    background:#f7f7f7;
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;        
    font-family:Georgia, "Times New Roman", Times, serif;
}
::selection {
        background:#FF9; /* Safari */
        }
::-moz-selection {
        background:#FF9; /* Firefox */
}

#heading{
	width:900px;
	height:480px;
	overflow:hidden;
	margin-top:-60px;
}
.hidden{
	display:none;
}
img{
    max-width: 200%;
    border:none;
}
a:active, a:focus {
outline: 0;
}
.small{
	font-size:12px;
}
.fullWidth {
	margin-left: auto;
	margin-right: auto;
	min-width: 1000px;
	height:126px;
}
.pageCurl{
	width:227px;
	height:126px;
	float:right;
}
.topMargin{
	margin-bottom:50px;
}
.spacer{
	margin-bottom:25px;
}
.pre-text{
	color:#999999;
	font-size:24px;
	padding-top:27px;
	margin-bottom:-5px;
}
.yellow{
	background-color:#FF9;
}
h1{
	font-size:51px;
	text-decoration:none;
	font-weight:100;
	margin-bottom:0px;
	text-shadow: 1px 1px 1px #fff;
}
h2{
	font-size:36px;
	text-decoration:none;
	font-weight:100;
	line-height:45px;
}
h3{
	font-size:20px;
	color:#999;
	text-decoration:none;
	font-weight:100;
	margin-bottom:36px;
}
h4{
	font-size:18px;
	color:#333;
	text-decoration:none;
	font-weight:100;
}
p{
	font-size:14px;
	color:#333;
}
.twelvePxls{
	font-size:14px;
	color:#333;
}
#middle{
	margin-left: auto;
	margin-right: auto;
	min-width: 900px;
	padding:5px;
}
.middle{
	text-align:center;
	margin:0 auto;
	background:url(../images/commas_21.jpg);
	width:826px;
	height:67px;
}
.learnMore{
	text-align:center;
	margin:0 auto;
	width:115px;
	height:35px;
}
.hr{
	background:url(../images/hr_25.jpg) repeat-x;
	height:2px;
}
.breakerLine{
height:5px;
background:#eaeaea;
margin-bottom:25px;
}
.breakerLine2{
height:5px;
background:#e3e3e3;
margin-top:-15px;
margin-bottom:6px;
}
.secondary{
	color:#999999;
	font-size:20px;
}
.secondary a{
	color:#999999;
	font-size:20px;
	text-decoration:none;
}
.secondary a:hover{
	color:#ccc;
	font-size:20px;
	text-decoration:underline;
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #d6d6d6;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d6d6d6;
	box-shadow:inset 0px 1px 0px 0px #d6d6d6;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5c5c5c), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #5c5c5c 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c5c5c', endColorstr='#000000');
	background-color:#5c5c5c;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #292929;
	display:inline-block;
	color:#ffffff;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
}.myButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #5c5c5c) );
	background:-moz-linear-gradient( center top, #000000 5%, #5c5c5c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#5c5c5c');
	background-color:#000000;
}.myButton:active {
	position:relative;
	top:1px;
}
#footer p{
	color:#999999;
	font-size:12px;
}
#footer a{
	color:#999999;
	font-size:12px;
	text-decoration:none;
}
#footer a:hover{
	color:#cccccc;
	font-size:12px;
	text-decoration:underline;
}
.right{
	float:right;
}



#navigation {
  list-style: none;
}

#navigation li {
  float: left;
}

#navigation a * {
  display: none;
}

#navigation a,
#navigation a .hover {
  height: 307px;
        position: relative;
        display: block;
        background:url(../images/fade-sprite.jpg) 0 0 no-repeat;
}

/* individual navigation items */
#navigation a.home {
  background-position: 0 0;
  width: 204px;
}

#navigation .highlight a.home:hover,
#navigation a.home .hover {
  background-position:  -816px;
  width: 204px;
}

#navigation a.services {
  background-position: -203px;
  width: 204px;
}

#navigation .highlight a.services:hover,
#navigation a.services .hover {
  background-position: -816px;
  width: 204px;
}

#navigation a.portfolio {
  background-position: -408px;
  width: 204px;
}

#navigation .highlight a.portfolio:hover,
#navigation a.portfolio .hover {
  background-position: -816px;
  width: 204px;
}

#navigation a.about {
  background-position: -612px;
  width: 204px;
}

#navigation .highlight a.about:hover,
#navigation a.about .hover {
   background-position: -816px;
  width: 204px;
}

.centered {width:400px; margin:30px auto;}
.note{
	 background:#FFF;
	 padding:10px;
	 border:1px #ccc dashed;
}
